<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xuxiaowei.a.mapper.AMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.xuxiaowei.a.entity.A">
        <id column="a_id" property="aId" />
        <result column="remark" property="remark" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="create_username" property="createUsername" />
        <result column="update_username" property="updateUsername" />
        <result column="create_ip" property="createIp" />
        <result column="update_ip" property="updateIp" />
        <result column="deleted" property="deleted" />
        <result column="num" property="num" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        remark,
        create_date,
        update_date,
        create_username,
        update_username,
        create_ip,
        update_ip,
        deleted,
        a_id, num
    </sql>

</mapper>
